/*******************************************************************************
 * Fighting Fantasy
 ******************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Pirata+One');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@200;300;500');
@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300');

:root {
  --a-color: black;

  --cover-title-font-family: 'Pirata One', cursive !important;
  --h2-title-font-family: 'Spectral', serif;
  --body-font-family: 'Merriweather', 'Noto Serif', serif;
}

/*******************************************************************************
 * Basic
 ******************************************************************************/
h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

h3 {
  margin-bottom: 0.25em;
  padding: 0;
}

h4 {
  font-style: italic;
  font-weight: 400;
}

h5 {
  font-weight: 400;
}

code, pre {
  font-family: 'Inconsolata', monospace;
}

/*******************************************************************************
 * Page
 ******************************************************************************/
@page {
  size: 4.25in 6.87in;
  margin: 0.5in 0.25in 0.25in 0.25in;
}

/*******************************************************************************
 * Cover
 ******************************************************************************/
@page cover {
  @top-right {
    content: none;
  }
}

#cover h1 {
  font-family: 'Pirata One', cursive !important;
  font-size: 5em;
}

.content h2,
#toctitle {
  margin-top: 0;
  break-before: avoid-page;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: var(--h2-title-font-family);
  font-size: 1.50em;
  font-weight: 200;
  margin: 0 1em 2.5em 1em;
}

ol {
  padding-left: 13px;
}

h3 + div p {
  margin-top: 0;
}

.sect1.gameplay {
  margin-right: 0.6cm;
  margin-left: 0.6cm;
}

.sect1.gameplay > h2 {
  display: none;
}

.segment h3 {
  text-align: center;
  margin: 0;
  string-set: segmentTitle content(text);
}

.lead p {
  font-weight: 600;
}

.lead p:first-letter {
  padding: 4px 0.4em 4px 0.4em;
  margin: 0 .3rem 0 0;
  font-family: var(--cover-title-font-family);
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  border-radius: 1px;

  font-size: 3rem;
}

ul li {
  display: list-item;
  list-style-type: "◆";
  padding-inline-start: 1ch;
}

ul li::marker {
  font-family: var(--body-font-family);
}

ul ul li {
  list-style-type: "◇";
}

ul ul ul li {
  list-style-type: "⟐";
  
}

ul ul ul ul li {
  list-style-type: "⟡";
}

.sect2.segment {
  break-inside: avoid;
}

.sect2.segment p {
  text-justify: inter-word;
}

.page-break {
  break-after: page;
}

span.attribute {
  text-transform: uppercase;
  font-family: 'Spectral', serif;
  font-weight: 500;
}

.toc .sectlevel2 {
  display: none;
}

/******************************************************************************
 * Choices Table
 ******************************************************************************/
table.choices {
  width: 100%;
}

table.choices td {
  vertical-align: top;
}

/* Never wrap the last two columns of a choices table ("turn to" and "<passage number>"). */
table.choices tr td:nth-last-child(2),
table.choices tr td:nth-last-child(1) {
  white-space: nowrap;
}

table.choices p {
  margin: 0;
}

/******************************************************************************
 * Combat Table
 ******************************************************************************/
table.combat {
  width: 100%;
  text-transform: uppercase;
}

table.combat,
table.combat td,
table.combat th {
  border: none;
}

table.combat p {
  margin: 0;
}

table.combat tr:first-child {
  display: none;
}

/* TODO: This should be dynamic based on asciihero-combat-attributes document attribute. */
table.combat tr td:nth-child(2) p::before,
table.combat tr td:nth-child(3) p::before {
  font-family: 'Spectral', serif;
  font-weight: 500;
  font-size: 0.9em;
}

table.combat tr td:nth-child(2) p::before {
  content: "Skill ";
}

table.combat tr td:nth-child(3) p::before {
  content: "Stamina ";
}

/******************************************************************************
 * Table of Contents
 ******************************************************************************/
#toc.toc {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

#toc.toc a {
  color: black;
}

#toc.toc a::after,
#toc.toc2 a::after {
  content: "\A" target-counter(attr(href url), page);
  padding-left: 6px;
  text-align: center;
  margin: 0;
}

#toc.toc ul,
#toc.toc2 ul {
  padding: 0;
}

#toc.toc li,
#toc.toc2 li {
  list-style-type: none;
  margin: 0 0 1.5em 0;
}