@page {
  size: A4;
  margin: 15mm 10mm 15mm 10mm;
}

h2 {
  margin-top: 0;
  break-before: always;
}

.sect1.gameplay {
  column-count: 2;
  margin-right: 0.6cm;
  margin-left: 0.6cm;
}

.sect1.gameplay h2 {
  column-span: all;
}

.segment h3 {
  text-align: center;
  margin: 0;
}

table.choices {
  width: 100%;
}

/* Never wrap the last two columns of a choices table ("turn to" and "<passage number>"). */
table.choices tr td:nth-last-child(2),
table.choices tr td:nth-last-child(1) {
  white-space: nowrap;
}

table.choices p {
  margin: 0;
}

/* never break up */
.sect2.segment {
  break-inside: avoid;
}

.sect2.segment p {
  text-justify: inter-word;
}